<div class="container-fluid">
  <img src="./assets/img/logo.png" 
  (click)="tag = 1"
style=" 
position: absolute;
" 
[style.top]="homeService.responsiveStatus === 5 ? '15px' : '40px'"
alt="Vibeco">

<div >
  <ul ngbNav [(activeId)]="tag" #nav="ngbNav" class="nav justify-content-end" 
style="
    padding-top: clamp(1rem, 5vw, 2rem);
    border-bottom: 1px solid white;
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding-bottom: 0.5rem;">
    <li [ngbNavItem]="1" *ngIf="homeService.responsiveStatus !== 5">
      <a ngbNavLink class="text-white">Inicio</a>
      <ng-template ngbNavContent> <app-home [tag]="1" (tag2)="taged($event)"></app-home> </ng-template>
    </li>
    <li [ngbNavItem]="2" *ngIf="homeService.responsiveStatus !== 5">
      <a ngbNavLink class="text-white" >Generadores</a>
      <ng-template ngbNavContent><app-home [tag]="2" (tag2)="taged($event)"></app-home></ng-template>
    </li>
  
    <li [ngbNavItem]="3" *ngIf="homeService.responsiveStatus !== 5">
      <a ngbNavLink class="text-white ">Páneles solares</a>
      <ng-template ngbNavContent><app-home [tag]="3" (tag2)="taged($event)"></app-home></ng-template>
    </li>
  
    <li [ngbNavItem]="4" *ngIf="homeService.responsiveStatus !== 5">
      <a ngbNavLink class="text-white">Baterías</a>
      <ng-template ngbNavContent><app-home [tag]="4" (tag2)="taged($event)"></app-home></ng-template>
    </li>
  
    <li [ngbNavItem]="5" *ngIf="homeService.responsiveStatus !== 5"> 
      <a ngbNavLink class="text-white">Inversores</a>
      <ng-template ngbNavContent><app-home [tag]="5" (tag2)="taged($event)"></app-home></ng-template>
    </li>

    

    <li mat-button *ngIf="homeService.responsiveStatus === 5" [matMenuTriggerFor]="menu">
      <mat-icon class="text-white" >more_vert</mat-icon>
      </li>
    <mat-menu #menu="matMenu" style="background-color: black;">
      <div [ngbNavItem]="1" (click)="ver(1)">
        <a ngbNavLink class="text-white">Inicio</a>
      </div>
      <div [ngbNavItem]="2" (click)="ver(2)">
        <a ngbNavLink class="text-white" >Generadores</a>
      </div>
    
      <div [ngbNavItem]="3" (click)="ver(3)">
        <a ngbNavLink class="text-white ">Páneles solares</a>
      </div>
    
      <div [ngbNavItem]="4" (click)="ver(4)">
        <a ngbNavLink class="text-white">Baterías</a>
      </div>
    
      <div [ngbNavItem]="5" (click)="ver(5)"> 
        <a ngbNavLink class="text-white">Inversores</a>
      </div>
    </mat-menu>
</ul>
</div>






<div [ngbNavOutlet]="nav" class="animated fadeIn"></div>

<div class="animated fadeIn" *ngIf="homeService.responsiveStatus === 5">
  <app-home [tag]="tag" (tag2)="taged($event)"></app-home>
</div>


  <div class="mt-5">
    <!-- <img src="./assets/img/footer1.png" style="width: 100%; height: 12rem;">
    <img src="./assets/img/footer0.png" style="width: 100%;"> -->
  </div>
</div>