.dsadsa{
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 1px 4px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    border-radius: 5%;
    /* margin-left: 2vw;
    margin-right: 2vw; */
   
}

.dsadsa:hover {
    color: #3b4358;
}

.daiomepoc{
    margin-left: 0rem;
    margin-right: 0rem;
}


.dsafa{
    padding-right: 7vw;
    padding-left: 7vw;

}

.daomfope{
    padding-right: 5vw;
    padding-left: 5vw;
}

.dsacnde{
    font-size: 2rem;
}


.sacmiev{
    position: absolute;
right: 0px;
bottom: 0px;
z-index: 1;
}

.daomcoe{
    margin-right: 10rem;
    margin-left: 10rem;
}

.dsaofa{
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    width: 4rem;
}


.dasfjep{
    line-height: 1.2;
    font-size: 1.1vw;
}

.dasncioe{
    text-align: left;
}

.dasofjeo{
    font-size: clamp(1rem, 7vw, 1.2rem);
    margin-left: 6rem;
    margin-right: 6rem;
}

.dasocem{
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 1;
    width: 4rem;
}

.cdncai{
    position: absolute;
    right: 0px;
    top: 100px;
    z-index: 1;

}

.img1{
    width: 10rem !important;
}

.img2{
    width: 10.5rem !important;
}

.img3{
    width: 7rem !important;
    height: 7rem !important;
}

