

<div *ngIf="tag === 1" class="animated fadeIn">
    
    <div style="position: relative;">
        <!-- <img loading="lazy" src="./assets/img/ws.png" 
    [class.sacmiev]="homeService.responsiveStatus !== 5"
    [class.dsaofa]="homeService.responsiveStatus === 5"
    > -->
        <img loading="lazy" src="./assets/img/fondoHome.png" style="width: 100%; ">
    <img loading="lazy" style="    position: absolute;
    left: 10%;
    top: 35%;" 
    [style.width]="homeService.responsiveStatus === 5 ? '60%' : 'auto'"
    src="./assets/img/textoImgHome.png" >
    </div>
    
    <div class="row mt-5 container" [class.dsafa]="homeService.responsiveStatus !== 5" >
    
        <div class=" text-center" [class.col-6]="homeService.responsiveStatus !== 5" [class.col-12]="homeService.responsiveStatus === 5">
            <div class="dsadsa" style="cursor: pointer; height: 15rem;"
            (click)="enviarTag(2)"
            >
                <img loading="lazy" src="./assets/img/generador.png" [style.width]="img1 ? '9rem' : '100%'" 
                [class.img1]="homeService.responsiveStatus === 5"
                
                >
                <p  class="mt-4 " style="font-size: clamp(1rem, 7vw, 1.2rem); font-weight: 700;">
                    Plantas Eléctricas (Generadores)
                </p>
            </div>
                
        </div>
        <div class=" text-center " [class.mt-5]="homeService.responsiveStatus === 5"
        
        [class.col-6]="homeService.responsiveStatus !== 5" [class.col-12]="homeService.responsiveStatus === 5">
            <div class="dsadsa" style="cursor: pointer; height: 15rem;"
            (click)="enviarTag(3)"
            >
                <img loading="lazy" src="./assets/img/panel.png"  [style.width]="img2 ? '11.5rem' : '100%'"
                [class.img2]="homeService.responsiveStatus === 5"
                >
                <p  class="mt-4 " style="font-size: clamp(1rem, 7vw, 1.2rem); font-weight: 700;">
                    Páneles solares
                </p>
            </div>
                
        </div>
        <div class=" text-center mt-5" [class.col-6]="homeService.responsiveStatus !== 5" [class.col-12]="homeService.responsiveStatus === 5">
            <div class="dsadsa" style="cursor: pointer; height: 15rem;"
            (click)="enviarTag(4)"
            >
                <img loading="lazy" src="./assets/img/baterias.png" [style.width]="img3 ? '6rem' : '12rem'" [style.height]="img3 ? '8rem' : '12rem'"
                [class.img3]="homeService.responsiveStatus === 5"
                >
                <p  class="mt-4 " style="font-size: clamp(1rem, 7vw, 1.2rem); font-weight: 700;">
                    Baterías
                </p>
            </div>
                
        </div>
        <div class=" text-center mt-5" [class.col-6]="homeService.responsiveStatus !== 5" [class.col-12]="homeService.responsiveStatus === 5">
            <div class="dsadsa" style="cursor: pointer; height: 15rem;"
            (click)="enviarTag(5)">
                <img loading="lazy" src="./assets/img/ups.png" [style.width]="img4 ? '6rem' : '12rem'" [style.height]="img4 ? '8rem' : '12rem'" 
                [class.img3]="homeService.responsiveStatus === 5"
                >
                <p  class="mt-4 " style="font-size: clamp(1rem, 7vw, 1.2rem); font-weight: 700;">
                    Inversores
                </p>
            </div>
                
        </div>

        <p class="mt-5 mb-5 " [class.dasfjep]="homeService.responsiveStatus !== 5" [class.dasncioe]="homeService.responsiveStatus === 5">
            <strong>Viveco</strong> ofrece los servicios profesionales para el proyecto, suministros, instalación y mantenimiento de los sistemas de energía alternativos a la red eléctrica, como son las plantas eléctricas, los páneles solares y el conjunto operactivo de almacenamiento de energía en baterías para su posterior conversión a corriente eléctrica equivalente a la red.
        </p>
    
    </div>
    
    
    
</div>

<div *ngIf="tag === 2" class="animated fadeIn " style="position: relative;">

    <img loading="lazy" src="./assets/img/portadaPlanta.png" style="width: 100%; ">

   <div class="container">
    <p class="mt-2 " style=" font-weight: 700;" 
    [class.mt-5]="homeService.responsiveStatus !== 5"
    [class.dsacnde]="homeService.responsiveStatus !== 5"
    [class.daomfope]="homeService.responsiveStatus !== 5">
        Plantas Eléctricas 
    </p>

    <br>
    
    <div  [class.daiomepoc]="homeService.responsiveStatus === 5" [class.daomfope]="homeService.responsiveStatus !== 5"
    style="
    text-align: center;">
                <img loading="lazy" src="./assets/img/generador.png" [style.width]="homeService.responsiveStatus === 5 ? '10rem' : 'auto'" >
                <p  class="mt-4 pb-4" 
                [class.dasofjeo]="homeService.responsiveStatus !== 5"
                style="
                text-align: left;">
                   <span style="font-weight: 700;">
                    Plantas Eléctricas o Generadores,
                   </span>  comprenden el motor de combustión interna, mayormente diesel, acoplado a un generador de corriente alterna, monofásico o trifásico
                   <br>
                   <br>
                   Se suministran con cajas metálicas de insonorización y la transferencia automática para ser activados al momento de faltar la energía eléctrica de la red
                </p>
            </div>

   </div>

           
</div>

<div *ngIf="tag === 3" class="animated fadeIn " style="position: relative;">

    <img loading="lazy" src="./assets/img/portadaPaneles.png" style="width: 100%; ">

    <div class="container">
        
    <p class="mt-2" style="font-weight: 700;" 
    [class.mt-5]="homeService.responsiveStatus !== 5"
    [class.dsacnde]="homeService.responsiveStatus !== 5"
    [class.daomfope]="homeService.responsiveStatus !== 5">
        Páneles Solares
    </p>
    <br>
    <div  [class.daiomepoc]="homeService.responsiveStatus === 5" [class.daomfope]="homeService.responsiveStatus !== 5"
    style="
    text-align: center;">
                <img loading="lazy" src="./assets/img/panel.png" [style.width]="homeService.responsiveStatus === 5 ? '10rem' : 'auto'" >
                <p  class="mt-4 "
                [class.dasofjeo]="homeService.responsiveStatus !== 5"
                style="
                text-align: left;">
                   El desarrollo de la tecnología fotovoltaica ha permitido que la aplicación de páneles solares ha sido creciendo en forma exponencial
                    <br>
                    <br>
                   En el caso que se tengan dificultades para el suministro eléctrico la energía solar es la solución a largo plazo. No requiere mantenimiento, no se deteriora, no hace ruido, no contamina.
                   <br>
                   <br>
                   Esta aplicación requiere de los otros elementos de esta oferta como son las baterías para almacenar la energía y los UPS para convertirla en corriente alterna para suplir a todos las necesidades de hogar, oficina o industria
                </p>
            </div>

            <div style="
            margin-top: 2rem;
            
            text-align: center;"  [class.daomcoe]="homeService.responsiveStatus !== 5">
                <img loading="lazy" src="./assets/img/panel2.png" class=" pb-4" style="width: 100%;" >
            </div>
    </div>
</div>

<div *ngIf="tag === 4" class="animated fadeIn  " style="position: relative;">

    <img loading="lazy" src="./assets/img/portadaBateria.png" style="width: 100%; ">

    <div class="container">
        <p   class="mt-2"
         style="font-weight: 700;"  
         [class.mt-5]="homeService.responsiveStatus !== 5"
         [class.dsacnde]="homeService.responsiveStatus !== 5" 
    [class.daomfope]="homeService.responsiveStatus !== 5">
        Baterías
    </p>
    <br>
    <div  [class.daiomepoc]="homeService.responsiveStatus === 5" [class.daomfope]="homeService.responsiveStatus !== 5"
    style="
    text-align: center;">
                <img loading="lazy" src="./assets/img/baterias.png" [style.width]="homeService.responsiveStatus === 5 ? '10rem' : 'auto'" >
                <p  class="mt-4 " 
                [class.dasofjeo]="homeService.responsiveStatus !== 5"
                style="
                text-align: left;">
                   Las alternativas de energía requieren almacenarla para su uso en el momento de ser requeria, el almacén son las baterías
                        <br>
                        <br>
                   La tecnología va avanzando rápidamente sobre este tema, cada dia se disponen de nuevos sistema de baterías, mayor capacidad, más sofisticadas.
                        <br>
                        <br>
                   En el caso de los UPS se utilizan mayormente las de ciclo profundo, de plomo acido o de gel
                </p>
            </div>

            <div style="
            margin-top: 2rem;
            text-align: center;" [class.daomcoe]="homeService.responsiveStatus !== 5">
                <img loading="lazy" src="./assets/img/bateria2.png" class=" pb-4" [style.width]="homeService.responsiveStatus === 5 ? '10rem' : 'auto'" >
            </div>
    </div>
</div>

<div *ngIf="tag === 5" class="animated fadeIn " style="position: relative;">

    <img loading="lazy" src="./assets/img/portadaUPS.png" style="width: 100%; ">

    <div class="container">
        <p  class="mt-2" style=" font-weight: 700;"
        [class.mt-5]="homeService.responsiveStatus !== 5"
        [class.daomfope]="homeService.responsiveStatus !== 5" [class.dsacnde]="homeService.responsiveStatus !== 5" >
            Inversores 
        </p>
        <br>
        <div  [class.daiomepoc]="homeService.responsiveStatus === 5" [class.daomfope]="homeService.responsiveStatus !== 5" 
        style="
        text-align: center;">
                    <img loading="lazy" src="./assets/img/ups.png" [style.width]="homeService.responsiveStatus === 5 ? '10rem' : 'auto'" >
                    <p  class="mt-4  pb-4"
                    [class.dasofjeo]="homeService.responsiveStatus !== 5"
                    style="
                    text-align: left;">
                       UPS, estos equipos electrónicos permiten convertir la energía almacenada en baterías a corriente alterna para el consumo, y cuando la red se activa realizan la carga de las baterías
                        <br>
                        <br>
                       Están en capacidad de soministrar el servicio en 110VAC o 220VAC, con onda sinusoidal completa para operar motores. A su vez disponen del regulador para la conexión de los páneles solares.
                    </p>
                </div>
    </div>
</div>